.console-container {
  width: 100%;
  height: 100%;
}
.console-sidebar {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
}

/* .outlet-containerr {
  position: absolute !important;
  padding: 6px !important;
  right: 0 !important;
  top: 10vh !important;
  width: 80% !important;
} */
